/* Button */

.button {
  background-color:#05386B;
}

.button:hover,
.button:focus {
  background-color: #5CDB95;
}

/* TopBar */

.wrapper-topbar {
  border-top: 4px solid #05386B;
  box-shadow: 0 8px 6px -6px #999;
  z-index: 99;
}

.top-bar {
  padding: 1.5rem .5rem;
}

.top-bar ul {
  background-color: #fff;
}

.wrapper-topbar .top-bar {
  background-color: #fff;
}

.top-bar-left {
  margin-top: 1rem;
}

.top-bar-left img {
  max-height: 90px;
}

.top-bar-right {
  margin-top: 2.125rem;
  padding-right: 3.75rem;
}

.top-bar-right .menu>li>a {
  padding: .7rem 1.5rem;
  font-size: 1.125rem;
  color: #333;
}

.title-bar {
  position: absolute;
  right: 0;
  background-color: #2f2fa2;
  padding: .5rem 1rem;
}

/* Mobile Navigation */

/* Medium and down */
@media screen and (max-width: 63.9375em) {

  .top-bar-right,
  .top-bar-left {
    float: none;
  }

  .top-bar-right {
    padding-right: 0;
    margin-right: -1.4375rem;
    margin-left: -1.4375rem;
    margin-bottom: -1.5rem;
  }

  .top-bar .top-bar-right {
    width: auto;
  }

  .top-bar ul {
    background-color: #2f2fa2;
  }

  .top-bar-right .menu>li>a {
    color: #fff;
  }

  .menu>li {
    display: block;
    border-bottom: 1px solid #fff;
    text-align: center;
  }

  .menu>li:last-child {
    border-bottom: none;
  }
}


/* Hero Header */

.hero-header {
  position: relative;
  text-align:center;
}

.hero-img {
  position: relative;
}

.hero-img img {
  width: 100%;
}

.hero-img:before {
  content: "";
  position: absolute;
  left: 0; 
  right: 0;
  top: 0; 
  bottom: 0;
  background: rgba(0,0,0,.5);
}

.hero-caption {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-caption h2 {
  font-size: 2rem;
  color: #5CDB95;
}

.hero-caption p {
  color: #fff;
}

/* Large and up */
@media screen and (min-width: 64em) {

  .hero-caption {
    left: 150px;
    right: 150px;
  }

  .hero-caption h2 {
    font-size: 4rem
  }
}

/* Home State Section */

.card-state-body {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  text-align: center;
}

.card-state-body h2 {
  color: #379683;
  text-align: center;
}

/* All Parks */

.card-all-parks-title {
  font-size: 1.25rem;
}

.card-park-body img {
  max-height: 180px;
  width: 100%;
}

/* Individual Parks Page */

.wrapper-interior-header {
  position: relative;
  z-index: -1;
  min-height: 220px;
  background: #eee url(http://localhost:8080/image/tree.jpg) no-repeat 95% 100%;
}

.park-header-title {
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  text-transform: capitalize;
}

.wrapper-individual-park {
  padding: 3.75rem;
}

.card-park-info {
  margin: 0 auto;
  text-align: center;
}

.list-park-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-park-info li {
  margin-right: .625rem;
  border-bottom: 1px solid #eee;
  padding: .5rem 1.5rem;
}

.list-park-info img{
  margin-bottom: 1rem;
}

.list-title {
  color: #05386B;
  font-weight: 700;
}

.park-info-title {
  font-weight: 700;
  color: #242582;
}

.button-wrapper {
  margin-top: 1rem;
}

.button-wrapper .button {
  width: 30%;
}

.card-park-info-right {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  background-color: #fff;
  border: 1px solid #eee;
}

.card-park-info-title {
  background-color: #05386B;
  color: #fff;
  padding: 2rem;
}

/* Park Page Cards */

.wrapper-park-by-state {
  padding: 3.75rem 0;
}

.card-park {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  text-align: center;
  margin-bottom: 2rem;
  background-color: #fff;
}

.card-park-header img{
  max-height: 180px;
  width: 100%;
}

.card-park-title {
  font-size: 1.375rem;
}

.card-park-title a {
  color: #05386B;
}

.card-park-body {
  padding: .625rem;
}

.card-park-footer {
  padding: 1rem;
  font-size: 20px;
}

.card-park-footer a:after {
  font-family: fontAwesome;
  content: '\f0da';
  margin-left: .625rem;
}

.card-park-header {
  position: relative;
  color: #fff;
}

.status-title {
  position:absolute;
  top:0;
  padding: .625rem;
}

.card-park-header .closed {
  background-color: #FF0000;
}

.card-park-header .open {
  background-color: #379683;
}

/* Footer */

footer {
  background-color: #05386B;
  color: #fff;
  text-align: center;
  padding: 1.25rem;
}

footer p {
  margin-bottom: 0;
}