form .form-icons {
  text-align: center;
}
form .form-icons h4 {
  margin-bottom: 1rem;
}
form .form-icons .input-group-label {
  background-color: #379683;
  border-color: #379683;
}
form .form-icons .input-group-field {
  border-color: #379683;
}
form .form-icons .fa {
  color: white;
  width: 1rem;
}

form .log-in-form {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-icons .wrapper-state-title {
  color: #05386B;
  margin-top: 2rem;
  margin-bottom: 0;
}